<footer class="footer-container">
        <p>
        Community
        </p>
        <p>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-github"></i>
        </p>
        <p style="font-size: 14px;">
        © CodeDrivers 2019
    </p>
</footer>


