<footer class="footer-container">
        <p>
        Community
        </p>
        <p>
        <a style="color: white;" href="https://www.facebook.com/infoshareacademy" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a style="color: white;" href="https://infoshareacademy.com" target="_blank"><i class="fa-brands fa-google"></i></a>
        <a style="color: white;" href="https://github.com/infoshareacademy" target="_blank"><i class="fa-brands fa-github"></i></a>
        </p>
        <p style="font-size: 14px;">
        © CodeDrivers 2019
    </p>
</footer>


