@model CodeDrivers.Models.User

@{
    ViewData["Title"] = "Index";
}


<div class="register-panel">
    <h1>Formularz rejestracji</h1>
    <p>Aby dokonać rejestracji, uzupełnij poniższe pola</p>
    <hr />
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="Name">Imię</label>
            <input id="Name" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="LastName">Nazwisko</label>
            <input id="LastName" asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="DateOfBirth">Data urodzenia</label>
            <input id="DateOfBirth" type="date" asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Email">Adres e-mail</label>
            <input id="Email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Password">Hasło</label>
            <input id="Password" type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="PasswordConfirmation">Potwierdź hasło</label>
            <input id="PasswordConfirmation" type="password" name="PasswordConfirmation" class="form-control" />
            <span class="text-danger">@Html.ValidationMessage("PasswordValidationError")</span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input class="form-check-input" type="checkbox" id="passwordShowCheckbox">
                <label class="form-check-label" for="passwordShowCheckbox">
                    Pokaż hasło
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Numer telefonu</label>
            <input id="PhoneNumber" asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="DriversLicenceNumber">Numer prawa jazdy</label>
            <input id="DriversLicenceNumber" asp-for="DriversLicenceNumber" class="form-control" />
            <span asp-validation-for="DriversLicenceNumber" class="text-danger"></span>
        </div>
        <div class="text-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="back-container">
    <a asp-action="Index">Wróć do listy</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
