
.navbar-contener {
    align-content: end;
    background-color: black;
    height:6rem;
    margin-right:auto;
    padding-top:0.1rem;
}

.navbar-style{
    display:inline;
    width: 100%;
    height: 100%;
    text-align:center;
    position:center;

}
.nav-item {
    background: black;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration-color: none;
    outline-color: red;
}
    .nav-item a {
        text-decoration: none;
        color: white;
    }
.navbar-contener {
    display: flex;
    align-items: center;
    justify-content: right;
}

    .navbar-contener a {
        display: inline-block;
        width: 12rem;
        height: 2rem;
        background-color: black;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.4rem;
        border: none;
        text-align: center;
        line-height: 2rem;
        margin-right: 1.3rem;
    }

        .navbar-contener a:first-child {
            font-size: 16px;
            display: inline-block;
            justify-content: left;
            width: 11rem;
            height: 2rem;
            margin-right: auto;
        }
        .navbar-contener a:nth-child(2){
            margin-left: 21rem;
        }
        .navbar-contener a:last-child{
            font-size: 1rem;
            display: inline-block;
            justify-content: center;
        }
        .navbar-contener a:hover{
            background-color: white;
            color: black;
        }
.carlist-filter {
    margin: auto;
    width: 80rem;
    height: 90rem;
    background-color: grey;
}
body {
    color: black;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba(243, 234, 238, 0.8);
}
body a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
body a:hover{
    color: red;
}
.table {
    color: black;
    text-decoration: none;
}
.custom-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-container {
    bottom:0;
    position: absolute;
    justify-content: center;
    align-items: center;
    max-height: 1rem;
    width:100%;
}
    .footer-container p {
        margin: 0;
        position: center;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: black;
        color: white;
    }
.login-panel{
    display: flex;
    margin-top: 7rem;
    text-align: center;
    justify-content: center;
}


.center-form {
    display: flex;
    margin-top: 7rem;
    text-align: center;
    justify-content: center;
}

.logo-link {
    display: inline-block;
    margin-right: 1.3rem;
}

.logo-img {
    height: 50px;
    width: auto;
}


.link {
    margin-right: 20px; 
}