@using CodeDrivers.Models.Car
@using CodeDrivers.Models
@model CodeDrivers.Models.Car.Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="carSearch-mainPanel">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <h1>Wyszukaj pojazd</h1>
        <label for="cars">Filtry:</label>
        <select id="brandDropdown" name="searchTextBrand">
            @foreach (var carBrand in Enum.GetValues(typeof(CarBrand)))
            {
                <option>@carBrand</option>
            }
            <option value="Wszystko">Wszystko</option>
        </select>
        <span id="selectModelId">
            <select id="segmentDropdown" name="segmentDropdownText">
                @foreach (var carSegment in Enum.GetValues(typeof(CarSegment)))
                {
                    <option>@carSegment</option>
                }
            </select>
            <select id="gearTypeDropdown" name="gearTypeDropdownText">
                @foreach (var gearType in Enum.GetValues(typeof(GearType)))
                {
                    <option>@gearType</option>
                }
            </select>
            <select id="motorTypeDropdown" name="motorTypeDropdownText">
                @foreach (var motorType in Enum.GetValues(typeof(MotorType)))
                {
                    <option>@motorType</option>
                }
            </select>
        </span>
        <p></p>
        <span id="selectDateTime">
            <label>Początek:</label>
            <input type="date" class="form-control" data-val="true" data-val-required="To pole jest wymagane." name="dateStart"/>
            <label>Koniec:</label>
            <input type="date" class="form-control" data-val="true" data-val-required="To pole jest wymagane."  name="dateEnd"/>
        </span>
        <button type="submit">Wyszukaj</button>
    }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
