@model CodeDrivers.Models.Car.Car

@{
    ViewData["Title"] = "Create";
}

<h1>Dodawanie pojazdów</h1>

<h4>Aby dodać pojazd, uzupełnij poniższe pola</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Brand" class="control-label">Marka pojazdu</label>
                <select asp-for="Brand" class="form-control" id="brandDropdown" id="Brand" asp-items="Html.GetEnumSelectList<CodeDrivers.Models.Car.CarBrand>()">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Model pojazdu</label>
                <span asp-validation-for="Model" class="text-danger"></span>
                <span id="selectModelId">

                    <select asp-for="Model" class="form-control" id="modelDropdown" name="Model">
                        @foreach (var car in Model.Models)
                        {
                            <option value="@car">@car</option>
                        }
                    </select>
                </span>
            </div>
         
            <div class="form-group">
                <label asp-for="Segment" class="control-label">Segment</label>
                <span asp-validation-for="Segment" class="text-danger"></span>
                <select asp-for="Segment" class="form-control" asp-items="Html.GetEnumSelectList<CodeDrivers.Models.Car.CarSegment>()">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Motor" class="control-label">Rodzaj napędu</label>
                <select asp-for="Motor" class="form-control" asp-items="Html.GetEnumSelectList<CodeDrivers.Models.Car.MotorType>()">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GearTransmission" class="control-label">Skrzynia biegów</label>
                <select asp-for="GearTransmission" class="form-control" asp-items="Html.GetEnumSelectList<CodeDrivers.Models.Car.GearType>()">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay" class="control-label">Stawka za dzień</label>
                <input asp-for="PricePerDay" class="form-control" data-val="true" data-val-required="To pole jest wymagane." />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="custom-link">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#brandDropdown').change(function () {
                $.ajax({
                    type: "post",
                    url: "/Car/GetModelsForBrand",
                    data: { name: $('#brandDropdown').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var district = '<select asp-for="Model" class="form-control" id="modelDropdown" name="Model">';

                        for (var i = 0; i < data.length; i++) {
                            district = district + '<option value=' + data[i] + '>' + data[i] + '</option>';
                        }
                        district = district + '</select>';
                        $('#selectModelId').html(district);
                    }
                });
            });
        });
    </script>
}

