@model CodeDrivers.Models.Car.Car

@{
    ViewData["Title"] = "Delete";
}

<div class="delete-panel">
    <h1 style="text-align: center;">Czy napewno chcesz usunąć to auto?</h1>

    <div>
        <hr />
        <dl>
            <dt>Id</dt>
            <dd>1</dd>
            <dt>Marka</dt>
            <dd>Toyota</dd>
            <dt>Model</dt>
            <dd>Corolla</dd>
            <dt>Segment</dt>
            <dd>Kompakt</dd>
            <dt>Skrzynia biegów</dt>
            <dd>Manualna</dd>
            <dt>Dostępność</dt>
            <dd>Tak</dd>
            <dt>Stawka za dzień</dt>
            <dd>100 PLN</dd>
        </dl>

        <form asp-action="Delete" method="POST" style="text-align: center;">
            <input type="submit" value="Usuń" />
            <a href="#" class="custom-link">Wróć do listy</a>
        </form>
    </div>
</div>

