@{
    ViewData["Title"] = "About";
}


<div class="login-panel">
    <h1>O nas</h1>
</div>
<div class="text-center">

    Witajcie w wypożyczalni samochodowej Code Drivers! <br />
    Jesteśmy małą, ale pełną pasji ekipą, która stawia zadowolenie klientów na pierwszym miejscu. Nasza historia zaczęła się z miłości do podróży i pragnienia dzielenia tej radości z innymi. Wypożyczając u nas samochód, otrzymujecie nie tylko kluczyki do pojazdu, ale także do niezapomnianych przygód.
    Co nas wyróżnia? Oprócz konkurencyjnych cen i różnorodnego floty, stawiamy na indywidualne podejście do każdego klienta. Jesteśmy tu, aby spełnić Wasze oczekiwania i uczynić Waszą podróż wyjątkową. Niezależnie od tego, czy planujecie rodzinny wypad, romantyczną podróż czy służbowy wyjazd – mamy dla Was idealne rozwiązanie.
    Nasza ekipa to ludzie z pasją do motoryzacji i obsługi klienta. Wierzymy, że dbałość o detale sprawia, że każda podróż staje się wyjątkowa. Dlatego nasze samochody są nie tylko bezpieczne i komfortowe, ale również perfekcyjnie utrzymane.
    Dołączcie do grona naszych zadowolonych klientów i przekonajcie się, dlaczego warto wybrać naszą wypożyczalnię. Zapraszamy do wspólnej podróży!
    
</div>
<br>
<img src="/Images/codedrivers.png" alt="logo" style="display: block; margin: auto;">

