@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center carlist-filter">
    <h1 class="display-4">Witaj, tutaj bedzie wybór dat od kiedy do kiedy i pokaże samochodzy</h1>
</div>

<div class="position-absolute top-50 start-50 translate-middle" style="z-index: 11">
    <div id="toast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Sukces!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Zostałeś poprawnie zarejestrowany!
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var showToast = '@(ViewData.ContainsKey("ShowToast") && (bool)ViewData["ShowToast"] ? "true" : "false")';
        document.addEventListener('DOMContentLoaded', function () {
            if (showToast) {
                var myToast = new bootstrap.Toast(document.getElementById('toast1'));
                myToast.show();
            }
        });
    </script>
}
